body {
	font-family: Ubuntu;
	font-size: 18px;
	background-color: whitesmoke;
	}
.divPageBody {
	width: 60%;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	}
.divButtonContainer {
	margin-left: 50px;
	margin-bottom: 15px;
	}
.divSignedOn, divNotSignedOn {
	display: none;
	margin-top: 15px;
	}
.aSignOffLink {
	cursor: pointer;
	}
